.site-footer {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
  border-top: 1px solid var(--color-border-light);
  padding: 2rem 1rem;
  text-align: center;
  font-family: var(--font-family-display);

  body.dark & {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
    border-color: var(--color-border-dark);
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .footer-links {
      display: flex;
      gap: 1.5rem;

      a {
        color: var(--color-text-light);
        font-size: 0.9rem;
        font-weight: 500;
        transition: color 0.2s ease;

        &:hover {
          color: var(--color-primary);
        }

        body.dark & {
          color: var(--color-text-dark);
        }
      }
    }

    .footer-brand-social {
      display: flex;
      flex-direction: center;
      align-items: center;

      .montreal-logo {
        max-width: 200px;
        width: 100%;
        height: auto;
        margin-top: 1.5rem;

      }
    }

    &:hover {
      color: var(--color-primary);
    }

    body.dark & {
      color: var(--color-text-dark);
    }
  }

  .linkedin-icon {
    font-size: 1.5rem;
    color: var(--color-text-light);
    transition: color 0.2s ease;

    &:hover {
      color: var(--color-primary);
    }

    body.dark & {
      color: var(--color-text-dark);
    }
  }
}

.copyright {
  font-size: 0.875rem;
  color: var(--color-text-light);


  body.dark & {
    color: var(--color-text-dark);
  }
}