@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

.main-header {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-background-light);
  border-bottom: 1px solid var(--color-border-light);
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark .main-header {
  background-color: var(--color-background-dark);
  border-bottom-color: var(--color-border-dark);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.logo-icon {
  width: 48px;
  height: 48px;
  display: block;
}

.brand-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-text-light);
  font-family: "Poppins", sans-serif;
  transition: color 0.3s ease;
}

body.dark .brand-name {
  color: var(--color-text-dark);
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 16px;

  a {
    padding: 8px 12px;
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: 500;
    border-radius: var(--radius-lg);
    transition: background-color 0.25s, color 0.25s;

    &:hover {
      background-color: rgba(
        74,
        144,
        226,
        0.15
      ); /* similar ao primary-blue-light */
    }

    &.active-link {
      color: var(--color-primary);
      background-color: rgba(74, 144, 226, 0.15);
    }
  }
}

body.dark .header-nav a {
  color: var(--color-text-dark);

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  &.active-link {
    color: var(--color-primary);
    background-color: rgba(74, 144, 226, 0.15);
  }
}
