<div class="page-container">
  <h1 class="main-title">Resumo e Análise do Documento</h1>

  <!-- SUMMARY-->
  <section class="summary">
    <h2>Resumo gerado por IA</h2>
    <p>
      Este documento apresenta uma análise detalhada sobre o uso da inteligência artificial na automação de tarefas.
      São explorados seus benefícios, desafios e impactos nas áreas produtivas e criativas.
      O texto combina exemplos práticos e reflexões teóricas para ilustrar o potencial da tecnologia.
      Conclui destacando a importância da ética e do uso responsável da IA.
    </p>
  </section>

  <!-- CHAT-->
  <section class="chat-card">
    <h3>Pergunte sobre o Documento</h3>

    <div class="chat-messages" #messagesContainer>
      <div *ngFor="let message of messages" class="message-wrapper"
        [ngClass]="message.sender === 'Você' ? 'user' : 'ia'">
        <ng-container *ngIf="message.sender === 'IA'">
          <div class="message">
            <div class="sender">{{ message.sender }}</div>
            <div class="text">{{ message.text }}</div>
            <div *ngIf="message.citation" class="citation">
              <strong>Citações:</strong>
              <p>"{{ message.citation }}"</p>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="message.sender === 'Você'">
          <div class="message-container">
            <div class="sender">{{ message.sender }}</div>
            <div class="message">
              <div class="text">{{ message.text }}</div>
            </div>
          </div>
        </ng-container>

      </div>
      <div *ngIf="isLoading" class="message-wrapper ia">
        <div class="message">
          <div class="sender">IA</div>
          <div class="text typing-indicator">
            <span></span><span></span><span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-input">
      <form (ngSubmit)="sendMessage()">
        <input type="text" [(ngModel)]="newMessage" name="newMessage" placeholder="Digite sua pergunta aqui..."
          autocomplete="off" />
        <button type="submit" [disabled]="!newMessage || isLoading">
          <mat-icon>sendrounded</mat-icon>
        </button>
      </form>
    </div>
  </section>
</div>